
body{
    margin: 0;
    padding: 0;
}
#video-grid{
    display: flex;
    justify-content: center;
}

video{
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.main {
    height: 100vh;
    display: flex;
}

.main__left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main__right {
    flex: 0.2
}

.main__videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main__controls {
    background-color: #1C1E20;
}

.main__right {
    background-color: #242324;
    border-left: 1px solid #3D3D42;
}

.main__controls {
    color: #D2D2D2;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main__controls__button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.main__controls__button i {
    font-size: 24px;
}

.main__right {
    display: flex;
    flex-direction: column;
}

.main__header {
    padding-top: 5px;
    color: #F5F5F5;
    text-align: center;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

.messages{
    color: white;
    list-style: none;
}

.main__message_container {
    padding: 22px 12px;
    display: flex;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}

.leave_meeting , .leave__room {
    color: #EB534B;
}

.leave__room:hover{
    text-decoration: unset;
    color: #EB534B;

}
.unmute, .stop {
    color: #CC3B33;
}

.messages{
    color: whitesmoke;
}

.wrapper {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: x-large;
    color: #1C1E20;
    height: 100vh;
}
.wrapper span{
    color: darkblue;
    font-weight: 800;
    font-size: 55px;
}

.container__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    
}

.brand__name{
    display: flex;
    justify-content: center;
    color: darkblue;
    font-weight: 800;
    font-size: 55px;
    letter-spacing: 2px;
    
}
.brand__name h1{
    font-weight: bolder;
}
.main__header h2{
  color: black;
  font-size: 24px;
  
}

.button .submit_btn{
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 5px;
    background-color: rgb(99, 119, 251);
    border: none;
    color: white;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;

}

.button .submit_btn:hover{
    transition: ease-in-out 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}